<div class="container pt100">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="row">
        <div class="col-xs-6 col-lg-4">
          <h2><%= @project.name %></h2>
          <p><%= @project.description %></p>
        </div><!--/.col-xs-6.col-lg-4-->
      </div><!--/row-->
    </div><!--/.col-xs-12.col-sm-9-->
  </div><!--/row-->
</div>


<div class="container todolist">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>任务创建者</th>
        <th>标题</th>
        <th>描述</th>
        <th>查看</th>
      </tr>
      <% @project.todolists.present? && @project.todolists.first.todos.each do |todo| %>
        <tr>
          <th><%= todo.user.name %></th>
          <th><%= todo.name %></th>
          <th><%= todo.description %></th>
          <th><%= link_to '查看', project_todo_path(@project, todo) %></th>
        </tr>
      <% end %>
    </table>
  </div>
</div>